<div class="user-details">
  <h1> About </h1>
  <p> 
    <b>AL林</b>[알-림]은 서울시립대학교 컴퓨터과학부 소속 알고리즘 문제 해결 소모임입니다.</br>
    자료구조 및 알고리즘을 기초로 하는 프로그래밍 문제 해결을 공부합니다.
  </p>
</div>
<div class="user">
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>프로그래밍 대회에서 주로 사용하는 언어인 <b>C++, Java, Python</b>을 권장합니다.</p>
    </div>
    <div class="tech">
      <h2>Study</h2>
      <i class="devicon-sourcetree-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p style="font-size:16px">
        자료구조 및 알고리즘 지식과 대회 경험 유무로
        수준별 스터디를 진행합니다.</br>
        매주 정해진 주제를 탐구하고 관련 문제를
        같이 토론하며 풀어나갑니다.
      </p>
    </div>
    <div class="tech">
      <h2>Competition</h2>
      <i class="devicon-codeigniter-plain colored"></i>
      <i class="devicon-devicon-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>
        <a href="https://acmicpc.net/">백준 온라인 저지</a>, <a href="http://codeforces.com/">Codeforces</a> 등 여러 곳에서 많은 사람들과 문제를 풀며 대회를 연습합니다.</br>
        다음과 같은 주요 프로그래밍 대회들을 목표로 합니다.</br>
        <a href="http://icpckorea.org/">ACM-ICPC</a></br>
        <a href="https://code.google.com/codejam/">Google CodeJam</a></br>
        <a href="https://www.codeground.org/scpc">삼성 SCPC</a></br>
        <a href="https://programmers.co.kr/competitions/26/%EC%B9%B4%EC%B9%B4%EC%98%A4-code-festival">카카오 Code Festival</a></br>
        <a href="https://codemonster.lgcns.com/">LG Code Monster</a></br>
        ...</br>
      </p>
    </div>
</div>
