<div class="user-details">
  <h1> About </h1>
  <p> 
    <b>AL林</b>[알-림]은 서울시립대학교 컴퓨터과학부 소속 알고리즘 문제 해결 소모임입니다.</br>
    자료구조 및 알고리즘을 기초로 하는 프로그래밍 문제 해결을 공부합니다.
  </p>
</div>
<div class="user">
    <!--<div class="tech">
      <h2>Lang & Tool</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>프로그래밍 대회에서 주로 사용하는 언어인 <b>C++, Java, Python</b>과 운영체제인 Linux를 권합니다.</p>
    </div>-->
    <div class="tech">
      <h2>Study</h2>
      <i class="devicon-sourcetree-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p style="font-size:16px">
        방학 중에는 수준별 스터디를 진행합니다.</br>
        <ul style="font-size:16px">
          <li><b>너드(Nerd)</b>: 다소 어려운 알고리즘들을 공부하며 대회를 준비합니다.</li>
          <li><b>뉴비(Newbie)</b>: 자료구조 및 알고리즘 기초를 공부하고 관련 문제를 풉니다.</li>
        </ul>
      </p>
      <p style="font-size:16px">
        학기 중에는 매주 주제를 정해서 알고리즘을 탐구하고 관련 문제를 함께 토론하며 풀어가는 활동을 합니다.
      </p>
      <p></p>
    </div>
    <div class="tech">
      <h2>Competition</h2>
      <i class="devicon-codeigniter-plain colored"></i>
      <i class="devicon-devicon-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>
        저희는 다음과 같은 주요 프로그래밍 대회들을 목표로 합니다.</br>
        ACM-ICPC</br>
        Google CodeJam</br>
        삼성 SCPC</br>
        카카오 Code Festival</br>
        LG Code Monster</br>
        ...</br>
      </p>
    </div>
</div>
