 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Language & Tools</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>프로그래밍 대회에서 주로 사용하는 언어인 C++, Java, Python과 운영체제인 Linux를 권합니다.</p>
    </div>
    <div class="tech">
      <h2>Study</h2>
      <i class="devicon-sourcetree-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-google-plain colored"></i>
      <p>
        방학 중에는 수준별 스터디를 진행합니다.
        <li>너드(Nerd): 작년 활동 멤버를 기준으로 다소 어려운 문제들을 풀고 대회를 준비합니다.</li>
        <li>뉴비(Newbie): 자료구조 및 알고리즘 기초를 공부하고 스터디 디렉터의 도움을 받으며 문제를 풉니다.</li>
        학기 중에는 매주 주제를 정해서 알고리즘을 탐구하고 관련 문제를 함께 토론하며 풀어가는 활동을 합니다.
      </p>
      <p></p>
    </div>
    <div class="tech">
      <h2>Competition</h2>
      <i class="devicon-codeigniter-plain colored"></i>
      <i class="devicon-devicon-plain colored"></i>
      <p>
        저희는 다음과 같은 주요 프로그래밍 대회들을 목표로 합니다.
        <li>ACM-ICPC</li>
        <li>Google CodeJam</li>
        <li>삼성 SCPC</li>
        <li>카카오 Code Festival</li>
        <li>LG Code Monster</li>
        <li>...</li>
      </p>
    </div>
    
</div>
